/* html{height:100%} */

body {
    display:flex;
    flex-direction: column;
    background-color: #333; /* Dark grey */
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    /* padding: 20px; */
    height: 100vh;
  }
  
  h1 {
    margin-bottom: 30px;
  }

  h1 a {
    color: inherit;      
    text-decoration: none; 
    cursor: pointer;     
  }
  
  h1 a:hover {
    color: inherit;        
    text-decoration: none; 
  }

  #svgContainer{
    position: relative;
    width: 80%;
    flex-grow: 1;
    margin: 0 auto;
  }
  
  #svgTitle {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: left;
  }
  
  svg {
    display: block;
    margin: 0 auto;
    background-color: #444;
    width: 100%;
    height: 80%;
    border: 1px solid #555;
  }

  #svgYear{
    display: none;
  }

  #svgExperiment{
    display: none;
  }

  #yearControls{
    display: none;
  }

  #experimentButton{
    display: none;
  }

  #experimentalControls{
    display: none;
  }
  
  .secondline {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px
  }
  
  .slider-container {
    display: flex; /* Make it a flex container */
    align-items: center; /* Vertically align items */
    justify-content: space-between; /* Space out the slider and label */
    gap: 10px; /* Add spacing between slider and label */
    width: 160px; /* Fixed width for the container */
  }
  
  #thresholdSlider {
    flex-shrink: 0; /* Prevent the slider from resizing */
    width: 100px; /* Keep the slider width constant */
  }
  
  #thresholdLabel {
    width: 60px; /* Fixed width to accommodate the longest expected text */
    text-align: left; /* Align text within the label */
    white-space: nowrap; /* Prevent wrapping if the width is insufficient */
  }
  
  .controls {
    margin-bottom: 20px;
  }
  
  input[type="date"] {
    padding: 5px;
    /* margin-right: 10px; */
  }
  
  button {
    padding: 5px 10px;
    background-color: #555;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #777;
  }

  .tooltip {
    position: absolute;
    background: lightgrey;
    color: black;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    pointer-events: none; /* Prevents the tooltip from interfering with mouse events */
    visibility: hidden; /* Hide it by default */
}

.toggle-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.toggle-buttons button {
  padding: 10px 20px;
  margin: 0 5px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 20px; /* Pill shape */
  cursor: pointer;
}

.toggle-buttons .active {
  background-color: #878787; /* Visually show active button */
}

.toggle-buttons button:hover {
  background-color: #666;
}

/* Style for the date picker, dropdown, and button for uniform height */
select, input[type="date"], button {
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid #555;
  background-color: #444;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  height: 40px; /* Ensures consistent height */
}


/* Center items in .controls and align them vertically */
.controls {
  display: flex;
  align-items: center;
  justify-content: center;  /* Centers content within controls if needed */
  gap: 10px;  /* Spacing between elements */
  margin-bottom: 20px;
}

/* Hover effects for all interactive elements */
button:hover, select:hover, input[type="date"]:hover {
  background-color: #555;
}

.loader {
  position: absolute;
  /* top: 40%;
  left: 43%; */
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #666666; /* Blue */
  border-radius: 100%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  z-index: 10;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.toggle-switch {
  position: relative;
  width: 40px;
  height: 20px;
  -webkit-appearance: none;
  background-color: #ccc;
  outline: none;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.2s;
  vertical-align: middle;
}

.toggle-switch:checked {
  background-color: #4caf50; /* Color when checked */
}

.toggle-switch::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #fff;
  top: 1px;
  left: 1px;
  transition: transform 0.2s;
}

.toggle-switch:checked::before {
  transform: translateX(20px); /* Move the toggle knob when checked */
}

label{
  margin-left: 10px;
}

.info-button {
  position: relative; /* Change to relative positioning */
  margin-top: 10px; /* Space between the SVG and the button */
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(200, 200, 200, 0.5);
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  float: right; /* Ensure it stays on the right */
}

.info-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); /* Black overlay */
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modal-content {
  background-color: #444;
  color: white;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  border-radius: 8px;
  text-align: center;
  position: relative;
}

/* Close button (X) */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

/* Close button hover effect */
.close-button:hover {
  color: #ccc;
}

#year-info{
  display:none;
}

#infoModal a {
  color: rgb(184, 195, 255); /* Faint blue color */
  text-decoration: underline; /* Underline the text */
}

#infoModal a:visited {
  color: rgb(184, 195, 255); /* Faint blue color */
}