body {
    background-color: #333; /* Dark grey */
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    margin-bottom: 30px;
  }

  #svgContainer{
    width: 80%;
    margin: 0 auto;
  }
  
  #svgTitle {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: left;
  }
  
  svg {
    display: block;
    margin: 0 auto;
    background-color: #444;
    width: 100%;
    height: 400px;
    border: 1px solid #555;
  }

  #svgYear{
    display: none;
  }

  #yearControls{
    display: none;
  }
  
  .controls {
    margin-bottom: 20px;
  }
  
  input[type="date"] {
    padding: 5px;
    margin-right: 10px;
  }
  
  button {
    padding: 5px 10px;
    background-color: #555;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #777;
  }

  .tooltip {
    position: absolute;
    background: lightgrey;
    color: black;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    pointer-events: none; /* Prevents the tooltip from interfering with mouse events */
    visibility: hidden; /* Hide it by default */
}

.toggle-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.toggle-buttons button {
  padding: 10px 20px;
  margin: 0 5px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 20px; /* Pill shape */
  cursor: pointer;
}

.toggle-buttons .active {
  background-color: #878787; /* Visually show active button */
}

.toggle-buttons button:hover {
  background-color: #666;
}

/* Style for the date picker, dropdown, and button for uniform height */
select, input[type="date"], button {
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid #555;
  background-color: #444;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  height: 40px; /* Ensures consistent height */
}

/* Center items in .controls and align them vertically */
.controls {
  display: flex;
  align-items: center;
  justify-content: center;  /* Centers content within controls if needed */
  gap: 10px;  /* Spacing between elements */
  margin-bottom: 20px;
}

/* Hover effects for all interactive elements */
button:hover, select:hover, input[type="date"]:hover {
  background-color: #555;
}